html {
    font-size: 16px;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    @media (max-width: 480px) {
        font-size: 16px;
    }
    @media (min-width: 481px) and (max-width: 960px) {
        font-size: 18px;
    }
    @media (min-width: 961px) {
        font-size: 20px;
    }
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #373a3c;
    line-height: 1.5;
    background: #fff;
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
}
menu,
nav,
footer,
header,
article,
section {
    display: block;
}
a {
    color: #286496;
    text-decoration: none;
    background-color: transparent;
    &:hover {
        color: #183c5a;
        text-decoration: underline;
    }
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0;
}
code,
kbd,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
