/* -- content --*/
#content {
    position: relative;
    z-index: 3;
    background: #fff;
    box-shadow: rgba(35,35,50,0.8) 0 0 11px -2px;
}

/* -- title --*/
.title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin: -1rem 0 2rem;
    @media (max-width: 480px) {
        margin-bottom: 0;
    }
}

/* -- logo --*/
.logo {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 9rem;
}

/* -- education --*/
#education {
    .grid-9 {
        @media (min-width: 960px) {
            padding-top: 1rem;
        }
    }
}

/* -- education --*/
#work {
    color: #555;
    background: #F7F7F7;
}

/* -- subtitle --*/
.subtitle {
    color: #777;
    font-size: 115%;
}

/* -- line height --*/
#education,
#work,
#research {
    line-height: 2;
}

/* -- research --*/
#research {
    color: #555;
    line-height: 1.8;
    background: #F7F7F7;

    .row {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    .subtitle {
        margin-bottom: .2rem;
    }
}
