#content {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
    background: #fff;
    margin-top: 700px;
    box-shadow: rgba(35,35,50,0.8) 0 0 11px -2px;
}
#about {
    text-align: center;
    img {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
    }
    .intro {
        font-size: 1.25rem;
        margin: 0 auto;
        max-width: 32rem;
    }
}